    <%= link_to "Back", :back, class: "btn btn-secondary mt-3" %>

<div class="row">
  <div class="col-lg-6 col-md-10 mt-5 mx-auto">
    <h2>Account Settings</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="form-group">
        <%= f.label :email, for: "edit_email" %>

        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'email@example.com', class: "form-control", id: "edit_email" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div class="form-group">Currently waiting confirmation for: <%# resource.unconfirmed_email %></div>
      <% end %>

      <div class="form-group">
        <%= f.label :current_password, for: "current_password" %> <i>(please confirm your current password)</i>

        <div class="input-group password-group">
          <%= f.password_field :current_password, autocomplete: "current-password", placeholder: '••••••••', class: "form-control", id: "current_password" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :new_password, for: "change_password" %> <i>(leave blank if you don't want to change it)</i>

        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>

        <div class="input-group password-group">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: '••••••••', class: "form-control", id: "change_password" %>
        </div>
      </div>

      <div class="form-group mb-4">
        <%= f.label :confirm_password, for: "confirm_new_password" %>

        <div class="input-group password-group">
          <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: '••••••••', class: "form-control", id: "confirm_new_password" %>
        </div>
      </div>

      <div class="text-center mb-4">
        <%= f.submit "Update", class: "btn btn-primary btn-block" %>
      </div>
    <% end %>

    <hr>

    <h3 class="h5">Unhappy? Cancel my account</h3>

    <div class="text-center">
      <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger btn-block" %>
    </div>
  </div>
</div>
